flow_Node-Red.txt
[{"id":"b98c57be.4ed1a8","type":"http in","z":"c2784591.78d1c8","name":"Conversation - Assistente de Segurança","url":"/asiroadsec2017","method":"get","upload":false,"swaggerDoc":"","x":218.01953125,"y":232.00390625,"wires":[["2f25a098.140fe"]]},{"id":"2f25a098.140fe","type":"template","z":"c2784591.78d1c8","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  Agente Virtual - RoadSec 2017\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container-fluid\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Agente Virtual - RoadSec 2017</h1>\n\t  <div class=\"alert alert-success\" role=\"alert\" id=id_botchathistory></div>\n\t  \n\t  <div>\n\t      <form>\n\t          <div class=\"form-group\">\n                    \n                    <label for=\"id_chattext\" class=\"col-sm-2 col-form-label\">Você: </label>\n                    <div class=\"col-sm-10\">\n                        <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n                    </div>\n                    \n                    <br/><br/>\n\t              \n\t          </div>\n\n\t      </form>\n\t      <button type=\"button\" class=\"btn btn-primary\" onclick=\"javascript:onChatClick()\">Enviar</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Agente Virtual', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'asichatroadsec2017',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('Você', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":578.01953125,"y":232.00390625,"wires":[["f395670d.9a5688"]]},{"id":"f395670d.9a5688","type":"http response","z":"c2784591.78d1c8","name":"","x":968.01953125,"y":232.00390625,"wires":[]},{"id":"308764ef.0c4d4c","type":"http in","z":"c2784591.78d1c8","name":"Conversaton PT-BR REST API","url":"/asichatroadsec2017","method":"post","upload":false,"swaggerDoc":"","x":193.01953125,"y":281.5273723602295,"wires":[["fd3e2a4.acf0ad8"]]},{"id":"6c0ca86a.447f08","type":"http response","z":"c2784591.78d1c8","name":"","x":968.01953125,"y":292.00390625,"wires":[]},{"id":"fd3e2a4.acf0ad8","type":"function","z":"c2784591.78d1c8","name":"Pre Service Processing","func":"flow.set(\"RespostaAssistente\",\"Ok, variavel utilizada\");\n\n// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":468.01953125,"y":292.00390625,"wires":[["1cd2f6d1.d8da49"]]},{"id":"97bfc25e.2a0e8","type":"function","z":"c2784591.78d1c8","name":"Post Service Processing","func":"//Resposta = \"Ok, executado\";\n//Resposta = flow.get(\"RespostaAssistente\");\n\nmsg.mydata.messageout = msg.payload;\n\n//msg.mydata.messageout.output.text = Resposta;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":748.01953125,"y":292.00390625,"wires":[["6c0ca86a.447f08"]]},{"id":"1cd2f6d1.d8da49","type":"watson-conversation-v1","z":"c2784591.78d1c8","name":"Conversation","workspaceid":"","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":453.0195617675781,"y":408.52735233306885,"wires":[["97bfc25e.2a0e8","da4f3b8f.542a68"]]},{"id":"cd7e888e.acd428","type":"ui_form","z":"c2784591.78d1c8","name":"","label":"","group":"1cc4ada7.7e4142","order":1,"width":"0","height":"0","options":[{"label":"O que gostaria de fazer ?","value":"pergunta","type":"text","required":false}],"formValue":{"pergunta":""},"payload":"","topic":"pergunta","x":82.01953125,"y":379.3373546600342,"wires":[["67d9d0a7.1d78f"]]},{"id":"67d9d0a7.1d78f","type":"function","z":"c2784591.78d1c8","name":"Trata campos do formulário","func":"msg.user = msg.payload.usuario;\nmsg.payload = msg.payload.pergunta;\nreturn msg;","outputs":1,"noerr":0,"x":199.51954650878906,"y":455.3372974395752,"wires":[["1cd2f6d1.d8da49"]]},{"id":"9be592e2.4a8f","type":"function","z":"c2784591.78d1c8","name":"InformaAlerta do App","func":"if (msg.verifica == \"AvaliacaoDeSeguranca\"){\n    msg.payload = 5;\n    msg.topic = \"Alto\";\n}else{\n    msg.payload = 2;\n    msg.topic = \"Baixo\";\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":902.4008026123047,"y":486.96471977233887,"wires":[["4d8d415e.960e1"]]},{"id":"4c68103a.e499a","type":"ui_text","z":"c2784591.78d1c8","group":"1cc4ada7.7e4142","order":2,"width":0,"height":0,"name":"Mensagem","label":"Mensagem","format":"{{msg.payload}}","layout":"row-center","x":1111.4007415771484,"y":558.9647235870361,"wires":[]},{"id":"d4a2f54a.71e568","type":"function","z":"c2784591.78d1c8","name":"Exibe Imagem","func":"if (msg.verifica == \"piadas\"){\n    msg.payload = \"http://images.uncyc.org/pt/thumb/8/88/CachorroMutley.gif/300px-CachorroMutley.gif\";\n}\n\nif (msg.verifica == \"AvaliacaoDeSeguranca\"){\n    msg.payload = \"https://static1.squarespace.com/static/517b07d4e4b01510f82e0217/t/56a8cc801f4039ee00f5eed0/1453902977072/2016-THUMB.png\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":870.4005584716797,"y":653.964807510376,"wires":[["98f78243.17612"]]},{"id":"af20a775.7ac998","type":"function","z":"c2784591.78d1c8","name":"InformaTexto","func":"//var texto = msg.payload.output.text;\n\nif (msg.verifica == \"AvaliacaoDeSeguranca\"){\n    msg.payload = texto = \"Ok, vamos falar sério.\";\n}else{\n    msg.payload = texto = \"Hora da diverção.\";\n}\n\n//msg.payload = texto;\n\nreturn msg;","outputs":1,"noerr":0,"x":873.4006423950195,"y":573.9647235870361,"wires":[["4c68103a.e499a","62f0a7b6.9a1898","1d966c72.928b24"]]},{"id":"62f0a7b6.9a1898","type":"ui_audio","z":"c2784591.78d1c8","name":"","group":"1cc4ada7.7e4142","voice":"16","always":true,"x":1100.4007835388184,"y":622.9647941589355,"wires":[]},{"id":"98f78243.17612","type":"ui_template","z":"c2784591.78d1c8","group":"1cc4ada7.7e4142","name":"","order":3,"width":"12","height":"6","format":"            <div ng-show=\"!setMedia[$index]\" class=\"col-xs-12 col-sm-12 col-md-5\">\n                <img ng-src=\"{{msg.payload}}\" width=\"500px\">\n            </div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1109.9085540771484,"y":675.4881677627563,"wires":[[]]},{"id":"da4f3b8f.542a68","type":"function","z":"c2784591.78d1c8","name":"Avalia o incidente","func":"msg.payload = msg.payload;\n//msg.verifica = \"\";\n//msg.maturidade = \"\";\n\nif ( msg.payload.intents != 0 &&  msg.payload.intents.length >0 ){\n    var intents = msg.payload.intents;\n    \n    for(var intent of intents){\n        if(intent.intent == \"piadas\"){\n            msg.verifica = \"piadas\";\n        }\n        if(intent.intent == \"AvaliacaoDeSeguranca\"){\n            msg.verifica = \"AvaliacaoDeSeguranca\";\n        }        \n        \n    }\n    \n}\n\nif ( msg.payload.entities != 0 &&  msg.payload.entities.length >0 ){\n    var entities = msg.payload.entities;\n    \n    for(var entity of entities ){\n \n        if(entity.entity == \"piadas\"){\n            msg.verifica = \"piadas\";\n        }\n        \n        if(entity.entity == \"AvaliacaoDeSeguranca\"){\n            msg.verifica = \"AvaliacaoDeSeguranca\";\n        }        \n           \n    }\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":405.0195770263672,"y":560.4411163330078,"wires":[["98532bfd.44ace8"]]},{"id":"4d8d415e.960e1","type":"ui_gauge","z":"c2784591.78d1c8","name":"","group":"1cc4ada7.7e4142","order":4,"width":0,"height":0,"gtype":"gage","title":"Medidor de importância","label":"%","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1164.8529510498047,"y":482.63153076171875,"wires":[]},{"id":"1d966c72.928b24","type":"debug","z":"c2784591.78d1c8","name":"","active":true,"console":"false","complete":"payload","x":1101.0384063720703,"y":748.0290546417236,"wires":[]},{"id":"98532bfd.44ace8","type":"switch","z":"c2784591.78d1c8","name":"Separa Assuntos","property":"verifica","propertyType":"msg","rules":[{"t":"cont","v":"piadas","vt":"str"},{"t":"cont","v":"AvaliacaoDeSeguranca","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":619.0430297851562,"y":581.0391530990601,"wires":[["9be592e2.4a8f","af20a775.7ac998","d4a2f54a.71e568"],["9be592e2.4a8f","af20a775.7ac998","d4a2f54a.71e568"],[]]},{"id":"1cc4ada7.7e4142","type":"ui_group","z":"","name":"RoadSec 2017","tab":"209717c3.64f2b8","disp":true,"width":"12"},{"id":"209717c3.64f2b8","type":"ui_tab","z":"","name":"RoadSec2017","icon":"dashboard"}]